PORT=5002

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=camp_card
DB_USER=root
DB_PASSWORD=root

TELEGRAM_BOT_TOKEN=8986896375:AAEWfO58ho9ezHMFkNs2Ou7ST7w7jprrj7A

TELEGRAM_OWNER_ID=5304136870

TELEGRAM_BOT_USERNAME=CampCardBot

QR_TTL_SECONDS=90

BUSINESS_CASH_API_URL=http://127.0.0.1:3001
BUSINESS_CASH_API_SECRET=10302aab667936cd201234159ea1fb996c2bd12ee8558af6d59b50fd6adf44a7

TELEGRAM_API_ROOT=https://api.telegram.org
TELEGRAM_PROXY_URL=socks5h://127.0.0.1:1080

TELEGRAM_WEBHOOK_DOMAIN=notify.cargocamp.ru
TELEGRAM_WEBHOOK_PATH=/campcard-webhook
TELEGRAM_WEBHOOK_SECRET=campcardwebhook

TOPUP_CONFIRM_TTL_SECONDS=180